@charset "UTF-8";

/* Configurações Globais*/
* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #F0E7E2, #9CAB98);
}

main {
    background-color: white;
    box-shadow: 5px 5px 15px #1618157a; /*sombra lado, baixo, espalhar cor*/
    width: 600px;
    padding: 10px;
    margin: auto; /*centraliza a div*/
    border-radius: 10px; /*borda arredondada*/
}

h1 {
    color: #9292A6;
    text-align: center;
    text-shadow: 3px 3px 5px #9292A6;
}

h2 {
    color: #9CAB98;
}

p {
    text-align: justify;
}